.out{
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}
.inside{
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}
.menu1{
    margin: 5% 15% 0% 15%;
    display: flex;
    align-content: center;
    position: relative;
}
nav h1{
    color: white;
    font-weight: 500;
    text-shadow: rgb(0, 0, 0) 2px 0px 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    /*padding-right: 19%;*/
    margin-left: 0%;
}
nav ul{
    padding: 10px 20px;
    background-color:#ffffff;
    list-style:none;    
    border-radius: 20px;
}
nav ul li { display: inline; }
ul li a {
    padding: 5px 15px;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 125, 125);
    text-decoration: none;
}
p a:link{
    color: #40d4af;
    text-decoration: none;
}
/* mouse over link */

ul li a:hover {
    background-color:#9fd6c8;
    color: rgb(255, 125, 125);
    text-decoration: none;
}
ul li a:visited {
    color: rgb(255, 125, 125);
}
main{
    box-shadow:0 0 1em black;
    display: flex;
    align-content: center;
    position: relative;
    background-color: white;
    min-width: 10vh;
    border-radius: 20px;
    min-height: 50vh;
    padding: 3% 3% 5% 5%;
}
 
.titulo, main h1, .dropdown-menu a{
    color: rgb(255, 125, 125);
    text-shadow: rgb(72, 206, 206) 3px 2px 5px;
}

.divcaixas{
    position: relative;
} 
.caixa{
    height: 200px;
    width: 230px;
    margin-top: 60px;
    margin-bottom:30px;
    padding-left: 2%;
    padding-right: 2%;
    color:white;
}
.caixa .pcaixa{
    font-size: 18px;
}
.caixa a{
    color:rgb(255, 125, 125);
    font-weight: bold;
    text-decoration: none;
}
.caixa a:hover{
    color:rgb(255, 125, 125);
    font-weight: bold;
    text-decoration: none;
}

.caixa1{
    background-color: rgb(255, 173, 186);
    border-top: 10px solid rgb(92, 163, 196);
    margin-left: 6%;
    margin-top: -1px; 
    position: absolute;
}
.caixa2{
    background-color: rgb(92, 163, 196);
    border-top: 10px solid rgb(255, 125, 125);
    margin-left: 37%;
    margin-top: -1px;
    position: absolute;
}
.caixa3{
    background-color: rgb(255, 125, 125);
    border-top: 10px solid rgb(255, 173, 186);
    margin-left: 68%;
    position: relative;
}

img{
    position: relative;
    box-shadow:0 0 0.3em black;
}

footer{
    display: flex;
    align-content: center;
    position: relative;
    margin: 1% 17% 1% 15%;
    color: white;
}
form h2, .mes, .h2{
    color: rgb(255, 128, 128);
    font-weight: 900;
    text-shadow: rgb(72, 206, 206) 2px 3px 2px;
}
.form_cadastro{
    padding-left: 15%;
    padding-right: 15%;

}
.linha{
    border-bottom: 10px solid rgb(104, 223, 207);
      width: max-content;
}
/* Carrossel */
.carousel {
    margin-top: 1%;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    text-align: end;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 20rem;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 20rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

  
}


.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  .box-shadow {  box-shadow:0 0 0.3em black; }
  @media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 5vw;
    }
}
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 20%;
	height: auto;
	border-radius: 50%;
}

.eu{
	width: 200px;
	height: 200px;
    border-radius: 100px;
}
li{
	list-style: none;
}
.linha1{
	border-left: 2px solid rgb(118, 200, 255);
  	height: auto;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }
.conf{
    margin-top: 8%;
    font-size: 1.2rem;
}