body{
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-content: center;
    position: relative;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 10%;
}
nav h1{
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 3px 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15%;
    margin-left: 5%;
}
nav ul{
    float:right;
    padding: 10px 10px;
    background-color:#ffffff;
    list-style:none;
    display : inline-flex;
    
}
nav ul li { display: inline; }
ul li a {
    padding: 5px 15px;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 125, 125);
    text-decoration: none;
}
ul li a:hover {
    background-color:#9fd6c8;
}
main{
    display: flex;
    align-content: center;
    position: relative;
    margin-left: 15%;
    margin-right: 17%;
    background-color: white;
    min-width: 10vh;
    min-height: 80vh;
}
footer{
    display: flex;
    align-content: center;
    position: relative;
    margin: 1% 17% 1% 15%;
    color: white;
}

