body{
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}
nav{
    margin: 5% 15% 0% 15%;

}
nav h1{
    color: white;
    font-weight: 500;
    text-shadow: rgb(0, 0, 0) 2px 0px 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    padding: 10px 20px;
    background-color:#ffffff;
    list-style:none;    
    border-radius: 20px;
}
nav ul li { display: inline; }
ul li a {
    padding: 5px 15px;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 125, 125);
    text-decoration: none;
}
p a:link{
    color: #40d4af;
    text-decoration: none;
}
/* mouse over link */

ul li a:hover {
    background-color:#9fd6c8;
    color: rgb(255, 125, 125);
    text-decoration: none;
}
ul li a:visited {
    color: rgb(255, 125, 125);
}
main{
    display: flex;
    align-content: center;
    position: relative;
    background-color: white;
    min-width: 10vh;
    min-height: 50vh;
    padding: 5% 3% 3% 3%;
    border-radius: 20px;
}
main h1{
    color: rgb(255, 125, 125);
}

.caixa{
    height: 180px;
    width: 230px;
    margin-left: 5%;
    margin-top: 450px;
    margin-bottom:30px;
    padding-left: 2%;
    padding-right: 2%;
    color:white;
}
.caixa .pcaixa{
    font-size: 18px;
}
.caixa a{
    color:rgb(255, 125, 125);
    font-weight: bold;
    text-decoration: none;
}

.caixa1{
    background-color: rgb(255, 173, 186);
    border-top: 8px solid rgb(92, 163, 196);
     margin-left: 3%; 
}
.caixa2{
    background-color: rgb(92, 163, 196);
    border-top: 8px solid rgb(255, 125, 125);
}
.caixa3{
    background-color: rgb(255, 125, 125);
    border-top: 8px solid rgb(255, 173, 186);
}

img{
    margin: 30px 0px 0px 150px;
}

footer{
    display: flex;
    align-content: center;
    position: relative;
    margin: 1% 17% 1% 15%;
    color: white;
}
form h2{
    color: rgb(255, 128, 128);
    font-weight: 900;
    text-shadow: rgb(72, 206, 206) 2px 3px 2px;
    padding-bottom: 2%;
}
.form_cadastro{
    padding-left: 15%;
    padding-right: 15%;

}